@{
    ViewData["Title"] = "Thanks";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="text-center">
        <h1>Your reply has been sent successfully.</h1>
        <h4>Thanks for the answer.</h4>
        <br />
        <a asp-action="Index" class="btn btn-success">Back to main screen</a> |
        <a asp-action="Result" class="btn btn-secondary">Partial Result</a>
    </div>
</body>
</html>
