<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"] - AppMvcSemTemplate</title>
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" />
    </environment>
</head>
<body>
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a class="nav-link link-body-emphasis px-2 active" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis px-2 active" asp-controller="Produtos" asp-action="Index">Produtos</a></li>
                @* <li class="nav-item"><a class="nav-link link-body-emphasis px-2">Features</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis px-2">Pricing</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis px-2">FAQs</a></li>
                <li class="nav-item"><a class="nav-link link-body-emphasis px-2">About</a></li> *@
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <header class="py-3 mb-4 border-bottom">
        <div class="container d-flex flex-wrap justify-content-center">
            <a class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
                <span class="fs-4"><i class="fa-solid fa-code fa-lg"></i> Minha Aplicação MVC do Zero</span>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2023, Leandro Henrique</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://github.com/leandrohfer" target="_blank"><i class="fa-brands fa-github fa-lg"></i></a></li>
            </ul>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/js/site.js"></script>
        <script src="~/js/cep.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/js/site.min.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    </environment>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>