html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.table-category tr > th:last-child,
.table-category tr > td:last-child
{
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

.table-product tr > th:last-child,
.table-product tr > td:last-child,
.table-product tr > th:nth-child(3),
.table-product tr > td:nth-child(3),
.table-product tr > th:nth-child(4),
.table-product tr > td:nth-child(4)
{
    width: 1%;
    white-space: nowrap;
    text-align: center;
}